<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% if  all_players %}  
    {% for i in  all_players %}
    <div class=" all_players">
        <p>{{ i.first_name }} {{ i.last_name }} - {{ i.position }}</p>
        <p>{{ i.team.full_name }}</p>
    </div> {% endcomment %}
</body>
</html>